{% extends "base.html"%} {% block title %} About Us {% endblock%}
{% block content %}
<p> About Us!</p>

{% load static %}
<!DOCTYPE html>
<html>
<body>

<div class="row">
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'Alex_Headshot.jpg' %}">
    </div>
    <div class="col-sm">
        Alexandre Beauchamp
        <figcaption>
            <a href="https://www.linkedin.com/in/alexandre-beauchamp/"> Linkedin</a>
        </figcaption>
    </div>
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'Ian_Headshot.jpg' %}">
    </div>
    <div class="col-sm">
        Ian Alderson
        <figcaption>
            <a href="https://www.linkedin.com/in/ian-alderson-193ba4132/"> Linkedin</a>
        </figcaption>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'Rayne_Headshot.jpg' %}">
    </div>
    <div class="col-sm">
        Rayne Davidson
        <figcaption>
            <a href="https://www.linkedin.com/in/rayne-davidson/"> Linkedin</a>
        </figcaption>
    </div>
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'AlexAyala_Headshot.jpg' %}">
    </div>
    <div class="col-sm">
        Alex Ayala
        <figcaption>
            <a href="https://www.linkedin.com/in/alex-ayala/"> Linkedin</a>
        </figcaption>
    </div>
 </div>

 <div class="row">
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'Anthony_Headshot_Paint.jpg' %}">
    </div>
    <div class="col-sm">
        Anthony Ambs
        <figcaption>
            <a href="https://www.linkedin.com/in/anthony-ambs-882a05234/"> Linkedin</a>
        </figcaption>
    </div>
    <div class="col-sm">
        <img class="card-img-top" src="{% static 'Brett_Headshot.jpg' %}">
    </div>
    <div class="col-sm">
        Brett Baker
        <figcaption>
            <a href="https://www.linkedin.com/in/brett-baker-5b869b/"> Linkedin</a>
        </figcaption>
    </div>
 </div>

</body>
</html>
{% endblock %}