{% extends "base.html"%} {% block title %} Home Page {% endblock%}
{% block content %}
<h1> We are Quake Or Not To Quake</h1>

{% load static %}
<!DOCTYPE html>

<body>
    <br>
    <p> 
        What you’re hearing is an audio representation of a lunar quake, created using Nasa sound bytes. We are Quake and Not to Quake!
    </p>
    <audio controls autoplay src="\static\xa.s12.00.mhz.1970-03-25HR00_evid00003.csv_12720.0.wav"> </audio>
    <br>
    <p>
        We’re six friends from across the U.S., who gathered here in Seattle for our first ever hackathon. We’re tackling the seismic detection across the solar system challenge, where our focus is to explore methodologies to filter exoplanet quake data prior to being sent back to earth, in order to reduce NASA's inner-planetary data transmission needs.
    </p>

    <div class="row">
        <div class="col-sm">
            <img class="card-img-top" src="{% static 'Group_photo.jpg' %}">
        </div>
    </div>

</body>
{% endblock %}